/*! 
 Build based on melong-console 
 Time : 1780283193000 */
.container[data-v-e6bd7ed7]{padding:20px}.box-card[data-v-e6bd7ed7]{margin-top:20px}.chain-info[data-v-e6bd7ed7]{display:flex;justify-content:space-between;margin-top:20px}.chain-info p[data-v-e6bd7ed7]{display:flex;align-items:center}.chain-info span[data-v-e6bd7ed7]{margin-right:10px}.button-group[data-v-e6bd7ed7]{display:flex;justify-content:flex-end;margin-top:20px}
